{% extends "base.HTML.html" %}
{% block container %}
<div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Django E-Commerce</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Início</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Categorias <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="">Notebooks</a></li>
				<li><a href="">Acessórios</a></li>
				<li><a href="">Celulares</a></li>
              </ul>
            </li>
			<li>
				<a href="contact.html">Contato</a>
			</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Minha Conta</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
{% endblock %}